body{
    color: white;
    background-image: linear-gradient(to right top, #817efa, #ca7fec, #d177f5, #ff94c6);
}
span{
    font-size: 30px;
}
#camera , #result{
    border: 2px dashed rgb(0, 57, 59);
    width: 350px;
    height: 300px;
}
#result_emotion_name ,#result_emotion_name2 {
    color: darkslateblue;
}
.emotion_name{
    font-size: 40px;
}
.emoji{
    font-size: 48px;
}
.heading{
    font-size: 45px;
    border-radius: 40px;
    border-color: #ff94c6;
    letter-spacing: 10px;
    background-color: black;
    font-family: 'Handjet', cursive;
}
label
{
    font-size: 14px;
    color: #ff94c6;
    padding: 6px;
    border-radius: 10px;
    background-color: white;
}